

<h1>your triangle is:</h1>
<%
tri = Triangle.new(@input_side1, @input_side2, @input_side3)
outcome = tri.what_kind.capitalize
%>
<div style='font-size: 2em;'><%= outcome %></div>

<br><br>

<a href="/" style='padding: 1em; border: solid 1px black; border-radius: 4px; color: inherit;'>Try Again</a>
