<h1>what kind of triangle do you have?</h1>
<form action="/answer">
  <input type="text" name="side-1" placeholder="Input your side 1" required>
  <input type="text" name="side-2" placeholder="Input your side 2" required>
  <input type="text" name="side-3" placeholder="Input your side 3" required>
  <button type="submit">Submit</button>
</form>
